:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #9597bc;
}

body {
  overflow-x: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a84a54;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn {
  /*ERROR HERE
  border: none;
  width: 2rem;
  height: 2rem;*/
  border-radius: 1.325rem;
}
.btn:hover {
  background-color: #ead3d3;
}

.btn-search {
  border: none;
  background: transparent;
  color: #9c3232;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}

.btn-search:hover {
  background-color: #efcccc;
}

.search-bar {
  background-color: #fef1f2;
  border-color: #ab6767;
  font-family: initial;
  border-radius: 20px;
  
}
.search-bar:focus {
  border-color: #ab6767;
  box-shadow: none;
}

.btn-nav:hover {
  background-color: #963d43;
  color:#ead3d3;
}

button:hover {
  background-color: #963d43;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(231, 189, 20) 50%,
    rgb(249, 110, 59) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
