$primaryColorLight: #a84a54;
$secondaryColorLight: #ab6767;
$hintColorLight: #ead3d3;
$btnFocusColorLight: #963d43;
$backgroundColorLight: #d0e7f3;
$searchBarBgLight: #fef1f2;
$searchIconLight: #a84a54;
$navBarBgLight: #fcfafa;
$navBtnBgLight: #fcfafa;
$navBtnIconLight: #fcfafa;


$primaryColorDark: #200f28;
$secondaryColorDark: #2a1416;
$hintColorDark: #0a050b;
$btnFocusColorDark: #0a050b;
$searchBarBgDark: #fef1f2;
$searchIconDark: #dddbdc;
$backgroundColorDark: #d0e7f3;
$navBarBgDark: #302a51;
$navBtnBgDark: #200f28;
$navBtnDark: #020202;
$navBtnIconDark: #7b01e5;