:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  width: 100vw;
  margin: 0 0 0 0;
  margin-left: -12px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap; /* Prevent wrapping */
}

.btn-search {
  border: none;
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}

.search-bar {
  font-family: initial;
  border-radius: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navbar-expand-lg {
  flex-wrap: nowrap; /* Ensure no wrapping */
}

.navbar-nav {
  display: inline-block;
}

.nav-icon {
  margin-right: 8px;
}

.nav-text {
  display: inline;
  font-family: -moz-initial;
}

.btn {
  border-radius: 1.325rem;
}

.card-container {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.author-box {
  height: 50px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: start;
  border-radius: 20px;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  align-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.review-content-box {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid #e3e6eb;
  border-radius: 10px;
  background-color: #f8f9fa;
  overflow-y: auto;
  max-height: 300px;
}

.recommend-reviews {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.create-page {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.create-form {
  width: 50rem;
  height: 40rem;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  /* Remove border shadow when focused */
}
.create-form__image-upload {
  width: 22rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-radius: 5%;
}
.create-form__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  margin-top: 1rem;
}
.create-form__image-container__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.create-form__btn--upload, .create-form__btn--delete {
  margin-top: 2rem;
}
.create-form__fields {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 3rem;
}
.create-form__fields--game, .create-form__fields--title, .create-form__fields--text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.create-form__fields--game-label, .create-form__fields--title-label, .create-form__fields--text-label {
  font-weight: bold;
  flex: 1;
  text-align: left;
}
.create-form__fields--game-input, .create-form__fields--title-input, .create-form__fields--text-input {
  width: 20rem;
  flex: 2;
  text-align: left;
}
.create-form__fields--text-input {
  height: 17rem;
}
.create-form__fields--game-input:focus, .create-form__fields--title-input:focus, .create-form__fields--text-input:focus {
  box-shadow: none;
  outline: none;
}
.create-form__btn--submit {
  margin-top: 0.5rem;
  float: right;
}

.draft-sidebar {
  position: relative;
}
.draft-sidebar__btn--trigger button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.draft-list {
  height: 100vh;
  width: 20rem;
  padding: 2%;
  z-index: -1;
  overflow: hidden;
}

.p {
  position: relative;
  top: 20px;
}

.sideOpen {
  width: 300px;
}

.sideClose {
  width: 0;
}

.list-item {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.list-item__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.list-item__img-container__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.register {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* Remove border shadow when focused */
}
.register__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.register__form--username, .register__form--password, .register__form--confirmedPassword {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
}
.register__form--username-label, .register__form--password-label, .register__form--confirmedPassword-label {
  flex: 1;
  font-weight: bold;
  text-align: left;
}
.register__form--username-input, .register__form--password-input, .register__form--confirmedPassword-input {
  width: 15rem;
  color: black;
}
.register__form_btn--login {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.register__form_link--action {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register__form--username-input:focus, .register__form--password-input:focus, .register__form--confirmedPassword-input:focus {
  box-shadow: none; /* Removes shadow */
  outline: none;
}

.review-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 10px;
  margin-top: 2rem;
}

.main-content {
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.comment-forum-container {
  margin-right: 5rem;
}

.comment-forum {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 100vh;
  border-radius: 25px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  height: 60rem;
  padding-top: 1rem;
}

.comment-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.comment-card__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
}
.comment-card__img-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.comment-card__img-container--img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment-card__text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 18rem;
  height: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.comment-send {
  width: 25rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.comment-send-input {
  width: 18rem;
  margin-right: 1rem;
}

/* Responsive styles: hide text on screens smaller than 768px */
@media (max-width: 768px) {
  .nav-text {
    font-size: small;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
  button {
    scale: 0.85;
  }
  .create-form {
    width: 30rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .create-form__image-upload {
    width: 20rem;
    height: 30rem;
  }
  .create-form__image-container {
    width: 20rem;
    height: 25rem;
  }
  .create-form__fields--text-input {
    height: 10rem;
  }
}
/* Responsive styles: hide text on screens smaller than 768px */
@media (max-width: 480px) {
  .nav-text {
    visibility: hidden;
  }
  .btn-nav {
    width: 3rem;
    height: 3rem;
    border-radius: 1.625rem;
    background: transparent;
  }
  .btn-nav:hover {
    background-color: transparent;
  }
  .nav-icon {
    color: #a84a54;
  }
  .create-form {
    width: 18rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .create-form__image-upload {
    width: 15rem;
    height: 20rem;
  }
  .create-form__image-container {
    width: 15rem;
    height: 15rem;
  }
  .create-form__fields--game-input, .create-form__fields--title-input {
    width: 8rem;
  }
  .create-form__fields--text-input {
    height: 8rem;
  }
  .register {
    width: 22rem;
  }
  .register__header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .register__form {
    margin-bottom: 1rem;
  }
  .register__form--username, .register__form--password {
    margin-bottom: 2rem;
  }
  .register__form--username-input, .register__form--password-input {
    width: 10rem;
  }
  .register__form_link--active {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
/* Consistent style setting */
.input,
.label {
  border-radius: 16px;
  background-color: white;
  padding-left: 1rem;
  font-family: inherit;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}

.btn-group span {
  font-size: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
  .review-content-box {
    max-height: 200px;
  }
  .recommend-reviews .card {
    flex: 1 1 45%;
  }
}
@media (max-width: 576px) {
  .recommend-reviews .card {
    flex: 1 1 100%;
  }
  .review-content-box {
    max-height: 150px;
  }
}
.light-theme .navbar {
  background-color: #fcfafa;
  color: black;
}
.light-theme button {
  background-color: #a84a54;
  color: white;
}
.light-theme .btn:hover {
  background-color: #ead3d3;
}
.light-theme .btn-search {
  background-color: #fcfafa;
  color: #a84a54;
}
.light-theme .btn-search:hover {
  background-color: #ead3d3;
}
.light-theme .search-bar {
  background-color: #fef1f2;
  border-color: #ab6767;
}
.light-theme .search-bar:focus {
  border-color: #ab6767;
  box-shadow: none;
}
.light-theme .btn-nav:hover {
  background-color: #963d43;
}
.light-theme button:hover {
  background-color: #963d43;
}
.light-theme .input {
  color: black;
  border: solid 2px black;
}
.light-theme .create-form {
  background-color: #d0e7f3;
}
.light-theme .draft-sidebar {
  background-color: #ab6767;
}
.light-theme .list-item {
  background-color: #ead3d3;
}
.light-theme .author-box {
  background-color: #ab6767;
}
.light-theme .comment-forum {
  background-color: #ab6767;
}
.light-theme .comment-list {
  background-color: #ead3d3;
}
.light-theme .card-container {
  background-color: #ead3d3;
}

.dark-theme .navbar {
  background-color: #302a51;
  color: white;
}
.dark-theme button {
  background-color: #200f28;
  color: white;
}
.dark-theme .btn:hover {
  background-color: #0a050b;
}
.dark-theme .btn-search {
  background-color: #200f28;
  color: #dddbdc;
}
.dark-theme .btn-search:hover {
  background-color: #0a050b;
}
.dark-theme .search-bar {
  background-color: #fef1f2;
  border-color: #2a1416;
}
.dark-theme .search-bar:focus {
  border-color: #2a1416;
  box-shadow: none;
}
.dark-theme .btn-nav:hover {
  background-color: #0a050b;
}
.dark-theme button:hover {
  background-color: #0a050b;
}
.dark-theme .input {
  color: white;
  border: solid 2px black;
}
.dark-theme .create-form {
  background-color: #d0e7f3;
}
.dark-theme .draft-sidebar {
  background-color: #2a1416;
}
.dark-theme .list-item {
  background-color: #0a050b;
}
.dark-theme .author-box {
  background-color: #2a1416;
}
.dark-theme .comment-forum {
  background-color: #2a1416;
}
.dark-theme .comment-list {
  background-color: #0a050b;
}
.dark-theme .card-container {
  background-color: #0a050b;
}/*# sourceMappingURL=styles.css.map */