$primaryColorLight: #d1495b;
$secondaryColorLight: #f48c8e;
$hintColorLight: #ffe5e5;
$btnFocusColorLight: #c83744;
$backgroundColorLight: #0000000d;
$searchBarBgLight: #fff0f1;
$searchIconLight: #d1495b;
$navBarBgLight: #ffffff;
$navBtnBgLight: #ffffff;
$navBtnIconLight: #d1495b;
$textColorLight: #333333;
$btnTextColorLight: #ffffff;

$primaryColorDark: #622569;
$secondaryColorDark: #803a3a;
$hintColorDark: #332533;
$btnFocusColorDark: #4d2c4b;
$backgroundColorDark: #1e1e2e;
$searchBarBgDark: #5c596d;
$searchIconDark: #e6e6e6;
$navBarBgDark: #26233a;
$navBtnBgDark: #311540;
$navBtnIconDark: #b399ff;
$textColorDark: #f0f0f0;
$btnTextColorDark: #ffffff;
