$primaryColorLight: #d1495b;
$secondaryColorLight: #f48c8e;
$hintColorLight: #f48c8e;
$btnFocusColorLight: #c83744;
$backgroundColorLight: #ffe5e5;
$searchBarBgLight: #fff0f1;
$searchIconLight: #d1495b;
$navBarBgLight: #ffffff;
$navBtnBgLight: #ffffff;
$navBtnIconLight: #d1495b;
$textColorLight: #333333;
$btnTextColorLight: #ffffff;

$primaryColorDark: #745196;
$secondaryColorDark: #956cbd;
$hintColorDark: #b9a5e2;
$btnFocusColorDark: #a25db3;
$backgroundColorDark: #b099c8;
$searchBarBgDark: #e7ddff;
$searchIconDark: #e6e6e6;
$navBarBgDark: #423261;
$navBtnBgDark: #7c58a3;
$navBtnIconDark: #423261;
$textColorDark: #f0f0f0;
$btnTextColorDark: #ffffff;
