:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  width: 100vw;
  margin: 0 0 0 0;
  margin-left: -12px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap; /* Prevent wrapping */
}

.btn-search {
  border: none;
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}

.search-bar {
  font-family: initial;
  border-radius: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navbar-expand-lg {
  flex-wrap: nowrap; /* Ensure no wrapping */
}

.navbar-nav {
  display: inline-block;
}

.nav-icon {
  margin-right: 8px;
}

.nav-text {
  display: inline;
  font-family: -moz-initial;
}

.btn {
  border-radius: 1.325rem;
}

.card-container {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.author-box {
  height: 50px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: start;
  border-radius: 20px;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  align-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.custom-card {
  border-radius: 5% !important;
}

.review-content-box {
  flex-grow: 1;
  padding: 15px;
  border: none;
  background-color: #dcb2b2;
  overflow-y: visible;
  max-height: 300px;
}

/* .rating-box {
} */
.recommend-reviews {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.create-page {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.create-form {
  width: 60rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-top: 2rem;
  border-radius: 10px;
  gap: 2rem;
  /* Remove border shadow when focused */
}
.create-form__image-upload {
  width: 22rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.create-form__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
}
.create-form__image-container__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.create-form__fields {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 1rem;
  gap: 3rem;
}
.create-form__fields--game, .create-form__fields--title, .create-form__fields--text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.create-form__fields--game-label, .create-form__fields--title-label, .create-form__fields--text-label {
  font-weight: bold;
  text-align: left;
}
.create-form__fields--game-input, .create-form__fields--title-input, .create-form__fields--text-input {
  width: 20rem;
  text-align: left;
}
.create-form__fields--text-input {
  height: 10rem;
}
.create-form__btn--submit {
  float: right;
  margin-top: 3.5rem;
}
.create-form__fields--game-input:focus, .create-form__fields--title-input:focus, .create-form__fields--text-input:focus {
  box-shadow: none;
  outline: none;
}

.score-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-weight: bold;
  height: 3rem;
  align-items: center;
}

.score {
  width: 3rem;
  height: 2rem;
  border-radius: 20%;
  font-weight: bold;
}

.max-score {
  font-weight: bold;
  font-size: large;
}

.draft-sidebar {
  position: relative;
  border-radius: 10px;
}
.draft-sidebar__btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}
.draft-sidebar__btn--trigger button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.draft-list {
  height: 80vh;
  width: 20rem;
  padding: 2%;
  z-index: -1;
  overflow: hidden;
}

.p {
  position: relative;
  top: 20px;
}

.sideOpen {
  width: 300px;
}

.sideClose {
  width: 0;
}

.list-item {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.list-item__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.list-item__img-container__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.register {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* Remove border shadow when focused */
}
.register__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.register__form--user {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
}
.register__form--user-label {
  flex: 1;
  font-weight: bold;
  text-align: left;
}
.register__form--user-input {
  width: 15rem;
  color: black;
}
.register__form_btn--login {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.register__form_link--action {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register__form--username-input:focus, .register__form--password-input:focus, .register__form--confirmedPassword-input:focus {
  box-shadow: none; /* Removes shadow */
  outline: none;
}

.review-page-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  gap: 10px;
  margin-top: 2rem;
}

.main-content {
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 64px;
  flex: 1;
}

.comment-forum-container {
  margin-right: 5rem;
}

.comment-forum {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 100vh;
  border-radius: 25px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  height: 60rem;
  padding-top: 1rem;
}

.comment-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.comment-card__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
}
.comment-card__img-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.comment-card__img-container--img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment-card__text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 18rem;
  height: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.comment-send {
  width: 25rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.comment-send-input {
  width: 18rem;
  margin-right: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile__container_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.profile__container_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.profile__folder_tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.profile__folder_files {
  margin-top: 2rem;
}

/* Responsive styles: hide text on screens smaller than 830px */
@media (max-width: 830px) {
  .nav-text {
    font-size: small;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
  button {
    scale: 0.85;
  }
  .create-form {
    width: 30rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .create-form__image-upload {
    width: 20rem;
    height: 30rem;
  }
  .create-form__image-container {
    width: 20rem;
    height: 25rem;
  }
  .create-form__fields--text-input {
    height: 10rem;
  }
  .card-container {
    flex-direction: column;
  }
  .review-content-box {
    max-height: 200px;
  }
  .recommend-reviews .card {
    flex: 1 1 45%;
  }
  .draft-sidebar {
    display: none;
  }
}
/* Responsive styles: hide text on screens smaller than 576px */
@media (max-width: 576px) {
  .nav-text {
    visibility: hidden;
  }
  .btn-nav {
    width: 3rem;
    height: 3rem;
    border-radius: 1.625rem;
    background: transparent;
  }
  .btn-nav:hover {
    background-color: transparent;
  }
  .create-form {
    width: 18rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .create-form__image-upload {
    width: 15rem;
    height: 20rem;
  }
  .create-form__image-container {
    width: 15rem;
    height: 15rem;
  }
  .create-form__fields {
    width: 16rem;
  }
  .create-form__fields--game-input, .create-form__fields--title-input {
    width: 8rem;
  }
  .create-form__fields--text-input {
    height: 8rem;
  }
  .register {
    width: 22rem;
  }
  .register__header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .register__form {
    margin-bottom: 1rem;
  }
  .register__form--username, .register__form--password {
    margin-bottom: 2rem;
  }
  .register__form--username-input, .register__form--password-input {
    width: 10rem;
  }
  .register__form_link--active {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .recommend-reviews .card {
    flex: 1 1 100%;
  }
  .review-content-box {
    max-height: 150px;
  }
  .draft-sidebar {
    display: none;
  }
}
/* Consistent style setting */
.input {
  border-radius: 16px;
  background-color: white;
  padding-left: 1rem;
  font-family: inherit;
  color: black;
  border: solid 2px black;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}

.btn-group span {
  font-size: 15px;
}

.rank-score {
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
  background-color: greenyellow;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.light-theme .nav-icon {
  color: #ffe5e5;
}
.light-theme .navbar {
  background-color: #ffffff;
  color: #333333;
}
.light-theme button {
  background-color: #d1495b;
  color: #ffffff;
}
.light-theme .btn:hover {
  background-color: #f48c8e;
}
.light-theme .btn-search {
  background-color: #ffffff;
  color: #d1495b;
}
.light-theme .btn-search:hover {
  background-color: #f48c8e;
}
.light-theme .search-bar {
  background-color: #fff0f1;
  border-color: #f48c8e;
}
.light-theme .search-bar:focus {
  border-color: #f48c8e;
  box-shadow: none;
}
.light-theme .btn-nav:hover {
  background-color: #c83744;
}
.light-theme button:hover {
  background-color: #c83744;
}
.light-theme .label,
.light-theme .score-label {
  color: #333333;
}
.light-theme .create-form {
  background-color: #f48c8e;
}
.light-theme .create-form__fields-label {
  background-color: #f48c8e;
}
.light-theme .draft-sidebar {
  background-color: #f48c8e;
}
.light-theme .draft-list {
  background-color: #f48c8e;
}
.light-theme .list-item {
  background-color: #ffe5e5;
}
.light-theme .author-box {
  background-color: #f48c8e;
}
.light-theme .comment-forum {
  background-color: #f48c8e;
}
.light-theme .comment-list {
  background-color: #ffe5e5;
}
.light-theme .comment-card__text {
  background-color: #f48c8e;
}
.light-theme .card-container {
  background-color: #ffe5e5;
}
.light-theme .review-content-box {
  background-color: #f48c8e;
  border-radius: 10px;
}

.dark-theme .nav-icon {
  color: #b099c8;
}
.dark-theme .navbar {
  background-color: #423261;
  color: #f0f0f0;
}
.dark-theme button {
  background-color: #745196;
  color: #ffffff;
}
.dark-theme .btn:hover {
  background-color: #b9a5e2;
}
.dark-theme .btn-search {
  background-color: #7c58a3;
  color: #e6e6e6;
}
.dark-theme .btn-search:hover {
  background-color: #b9a5e2;
}
.dark-theme .search-bar {
  background-color: #e7ddff;
  border-color: #956cbd;
}
.dark-theme .search-bar:focus {
  border-color: #956cbd;
  box-shadow: none;
}
.dark-theme .btn-nav:hover {
  background-color: #a25db3;
}
.dark-theme button:hover {
  background-color: #a25db3;
}
.dark-theme .label,
.dark-theme .score-label {
  color: #f0f0f0;
}
.dark-theme .create-form {
  background-color: #b9a5e2;
}
.dark-theme .create-form__fields-label {
  background-color: #b9a5e2;
}
.dark-theme .draft-sidebar {
  background-color: #b9a5e2;
}
.dark-theme .draft-list {
  background-color: #b9a5e2;
}
.dark-theme .list-item {
  background-color: #b099c8;
}
.dark-theme .author-box {
  background-color: #b9a5e2;
}
.dark-theme .comment-forum {
  background-color: #956cbd;
}
.dark-theme .comment-list {
  background-color: #b099c8;
}
.dark-theme .comment-card__text {
  background-color: #b9a5e2;
}
.dark-theme .card-container {
  background-color: #b099c8;
}
.dark-theme .review-content-box {
  background-color: #b9a5e2;
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */